body{
    background-image:url(https://assets.nflxext.com/ffe/siteui/vlv3/45082c39-e6d5-4b02-8867-e38fe32ed3af/4b49769b-ddbc-406a-a26b-482024a66727/IN-en-20220919-popsignuptwoweeks-perspective_alpha_website_medium.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;

}
pre{
    font-size: 30px;
    color:yellow;
}
7