#ab{
    height: 600px;
    width: 400px;
    border: 10px solid blue;
    margin-top: 900px;
    margin-bottom: 1000px;

}
.v{
    height: 150px;
    width: 150px;
    background-color:green;
    position: relative;
    top: 50px;
    left: 50px; 
    border-radius: 50%;
}
.b{
    height: 150px;
    width: 150px;
    background-color: red;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    border-radius: 50px;
}
.c{
    height: 150px;
    width: 150px;
    background-color: aqua;
}
.d{
    height: 150px;
    width: 150px;
    background-color: yellow;
    position: fixed;
    bottom: 0;
}